<div id="sponsers">
  <avatar :title="title" :list="list"></avatar>
</div>
<div id="mainteners">
  <avatar :title="title" :list="list"></avatar>
</div>
<div id="translators2">
  <avatar :title="title" :list="list"></avatar>
</div>
<div id="ssr">
  <avatar :title="title" :list="list"></avatar>
</div>
<div id="style-guide">
  <avatar :title="title" :list="list"></avatar>
</div>
<div id="cookbook">
  <avatar :title="title" :list="list"></avatar>
</div>
<div id="blog">
  <avatar :title="title" :list="list"></avatar>
</div>
<div id="community">
  <avatar :title="title" :list="list"></avatar>
</div>
<div id="contributors2">
  <avatar :title="title" :list="list"></avatar>
</div>
<div id="contributors1">
  <avatar :title="title" :list="list"></avatar>
</div>

<style>
.avatar {
  display: inline-block;
  margin: 10px 15px;
  text-align: center;
}
.avatar__img {
  width: 64px;
  height: 64px;
  border-radius: 64px;
}
</style>

<script type="text/x-template" id="contribution-contents-json">
<%- partial('partials/contribution_contents.ejs') %>
</script>

<script>
(function () {
  var avatar = {
    template: '<div>' +
      '<h2 :id="scrollID">' +
      '<a :href="href" class="headerlink" :title="title"></a>' +
      '{{title}}' +
      '</h2>' +
      '<ul class="avatars">' +
      '<a v-for="item in list" class="avatar" :href="link(item)" target="_blank">' +
      '<img class="avatar__img" :src="image(item)" />' +
      '<p style="margin: 0;">{{item}}</p>' +
      '</a>' +
      '</ul>' +
    '</div>',
    props: ['title', 'list'],
    computed: {
      scrollID: function () {
        return this.title.replace(/[\s\.]/g, '-')
      },
      href: function () {
        return '#' + this.scrollID
      }
    },
    methods: {
      link: function (id) {
        return 'https://github.com/' + id
      },
      image: function (id) {
        return this.link(id) + '.png?size=64'
      }
    }
  }
  contents = JSON.parse(document.querySelector('#contribution-contents-json').innerHTML)
  contents.forEach(function (content) {
    new Vue({
      components: { avatar: avatar },
      data: content
    }).$mount('#' + content.id)
  })
})()
</script>
