<li class="nav-dropdown-container language">
  <a class="nav-link">言語</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://vuejs.org/" class="nav-link" target="_blank">English (英語)</a></li>
    <li><a href="https://cn.vuejs.org/" class="nav-link" target="_blank">中文</a></li>
    <li><a href="https://ru.vuejs.org/" class="nav-link" target="_blank">Русский (ロシア語)</a></li>
  </ul>
</li>
