<li class="nav-dropdown-container support-vue">
  <a href="/support-vuejs/" class="nav-link">Vue を支援する</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="/support-vuejs/#1回きりの支援" class="nav-link">1回きりの支援</a></li>
      <li><a href="/support-vuejs/#継続的な支援" class="nav-link">継続的な支援</a></li>
      <li><a href="https://vue.threadless.com" target="_blank" rel="noopener" class="nav-link">Tシャツ ショップ</a></li>
    </ul></li>
  </ul>
</li>
