<li class="nav-dropdown-container support-vue">
  <a class="nav-link">Vue を支援する</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="https://vue.threadless.com" target="_blank" class="nav-link">ショップ</a></li>
      <li><a href="https://opencollective.com/vuejs" target="_blank" class="nav-link">OpenCollective で支援する</a></li>
      <li><a href="https://www.patreon.com/evanyou" target="_blank" class="nav-link">Patreon で Evan を支援する</a></li>
    </ul></li>
  </ul>
</li>
